body {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
}

p {
  font-size: 13px;
}

#gradient-text {
  font-family: "Prompt", sans-serif;
  color: transparent;
  font-weight: 400;
  background-image: linear-gradient(
    to right,
    #e41a1c,
    #ff7f00,
    #377eb8,
    #4daf4a
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#directions {
  font-family: "Prompt", sans-serif;
  font-weight: normal;
}

#footnote {
  font-family: "Prompt", sans-serif;
  font-weight: lighter;
  font-size: 9px;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
}
#legend {
  z-index: 1000;
  padding: 10px;
  padding-left: 20px;
  padding-top: 0px;
  box-shadow: 0 0 10px black;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  color: whitesmoke;
  position: absolute;
  top: 100px;
  left: 10px;
  background-color: #272727;
  opacity: 0.95;
  width: 550px;
  height: 800px;
  text-align: left;
  border-color: #377eb8ff #4daf4a #ff7f00ff #e41a1cff;
  border-style: ridge;
  border-width: medium;
}

#county {
  z-index: 1000;
  width: 350px;
  height: 400px;
  bottom: -120px;
  left: 120px;
  position: absolute;
  text-align: center; /* Optional: Center the image within the div */
}

#county img {
  width: 100%; /* Set the image width to 100% of its parent */
  height: auto; /* Maintain the aspect ratio */
}

.info {
  z-index: 1000;
  position: absolute;
  box-sizing: content-box;
  right: 10px;
  top: 10px;
  padding: 6px 6px;
  font-family: "Prompt", sans-serif;
  font-size: 16px;
  text-align: center;
  color: whitesmoke;
  background: #272727;
  background-color: #272727;
  opacity: 0.95;
  box-shadow: 0 0 10px black;
  width: 350px;
  height: inherit;
  border-color: whitesmoke;
  border-style: groove;
  border-width: thin;
}

.collapsible {
  font-family: "Prompt", sans-serif;
  background-color: #272727;
  color: whitesmoke;
  cursor: pointer;
  width: 150px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  position: absolute;
  top: 25px;
  left: 60px;
  padding: 10px;
  z-index: 400;
  overflow-y: hidden;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
  color: transparent;
  font-weight: 300;
  background-image: linear-gradient(
    to right,
    #e41a1c,
    #ff7f00,
    #377eb8,
    #4daf4a
  );
  background-size: 100%;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow-y: hidden;
  background-color: whitesmoke;
  max-height: 100%;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.collapsible:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #272727;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}